.AllCities {
  min-height: 100vh;
}

.AllCities a {
  text-decoration: none;
  color: inherit;
}

.AllCities header {
  text-align: right;
  padding: 8px;
  position: relative;
  z-index: 10;
  margin: 8px 0px;
}

.AllCities header a {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 4px 8px;
  text-transform: uppercase;
  font-variation-settings: "wdth" 151;
  margin-right: 0px;
}

.AllCities h1 {
  white-space: nowrap;
  /* font-size: clamp(2rem, 27vw, 24rem); */
  font-size: 22cqi;
  font-weight: 900;
  letter-spacing: -0.1em;
  text-transform: lowercase;
  font-variation-settings: "wdth" 105;
  color: rgba(43, 55, 226, 0.747);
  margin-top: -50px;
  margin-bottom: 0px;
  /* margin-left: 2px; */
  /* text-align: right; */
    /* background-color: red; */
}

.AllCities .cities_list,
.AllCities h1 {
  padding: 0 8px;
}

.AllCities .trip {
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  margin: 8px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* gap: 8px 8px; */
  /* background-color: yellow; */
}

.AllCities .trip .info {
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.AllCities .trip .city-state {
  grid-column: span 1;
}

.AllCities .trip .city-state .city {
  text-transform: uppercase;
  font-variation-settings: "wdth" 151;
}

.AllCities .trip .city-state .state {
  font-weight: 400;
  font-variation-settings: "wdth" 151;
  text-transform: capitalize;
  font-size: 1rem;
}

.AllCities .duration {
  font-variation-settings: "wdth" 110;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.57);
  grid-column: span 1;
}

.AllCities .thumbnail {
  /* border: 1px solid black; */
  width: fit-content;
  grid-column: span 1;
}

.AllCities .thumbnail img {
  display: block;
  /* max-height: 80px; */
  /* width: 600px; */
  width: 100%;
  aspect-ratio: 15/2;
  object-fit: cover;
  object-position: 50% 55%;
}

@media (max-width: 950px) {
  .AllCities .trip {
    display: flex;
    flex-direction: column-reverse;
  }
  .AllCities .trip .info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
