.AllCities {
  min-height: 100vh;
  padding: 0 8px;
}

.AllCities header {
  text-align: right;
  padding: 8px;
  position: relative;
  z-index: 10;
  margin: 8px 0px;
}

.AllCities header a {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 4px 8px;
  text-transform: uppercase;
  font-variation-settings: "wdth" 151;
}

.AllCities .trip {
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  margin: 8px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  /* gap: 8px 8px; */
  /* background-color: yellow; */
}

.AllCities .thumbnail {
  /* border: 1px solid black; */
  width: fit-content;
}

.AllCities .thumbnail img {
  display: block;
  height: 80px;
  width: 600px;
  object-fit: cover;
  object-position: 50% 55%;
}

.AllCities .coming-soon {
  font-style: italic;
  text-align: center;
  /* background-color: red; */
  /* height: 400px; */
  padding-top: 40%;
  font-size: 2rem;
}
