.City {
  /* color: rgba(0, 0, 0, 0.638); */
  color: black;
}

/* .City hr {
  border-top: 2px solid black;
  display: none;
} */

.City header {
  /* width: 100%; */
  text-align: right;
  padding: 8px;
  /* margin-bottom: -50px; */
  /* padding-bottom: 0px; */
  position: relative;
  z-index: 10;
  margin: 8px 0px;
}

/* .City header button{
    cursor: pointer;
    margin-right: 10px;
    } */

.City header a {
  font-size: 1.3rem;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 4px 8px;
  text-transform: uppercase;
  /* display: contents; */
  /* color: rgba(0, 0, 0, 0.647); */
  font-variation-settings: "wdth" 151;
}

.City .city-name {
  white-space: nowrap;
  /* font-size: clamp(2rem, 20vw, 20rem); */
  font-size: 25cqi;
  font-weight: 900;
  letter-spacing: -0.12em;
  text-transform: lowercase;
  /* font-variation-settings: "wdth" 104; */
  margin-top: -50px;
  margin-left: 2px;
  /* color: #c33e0ae0; */
}

.City .city-state {
  /* text-align: right; */
  text-align: left;
  font-size: clamp(1rem, 20vw, 2rem);
  /* margin-right: 24px; */
  margin-left: 16px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 900;
  font-variation-settings: "wdth" 151;
  margin-top: -90px;
}

.City .city-caption {
  width: 60%;
  padding: 24px;
  margin-top: 4px;
}

.City .gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  /* gap: 32px 8px; */
  column-gap: 8px;
  padding: 0 8px;
  align-items: start;
}

.City .gallery .img {
  width: 100%;
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
}
.City .gallery .portrait {
  grid-column: span 1;
}

.City .gallery .landscape {
  grid-column: span 2;
}

.City .gallery .wide-portrait {
  grid-column: span 2;
}

.City .gallery .full-landscape {
  grid-column: span 4;
}

.City .gallery .img .image {
  grid-row: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.City .gallery .img.portrait .image,
.City .gallery .img.wide-portrait .image {
  aspect-ratio: 2/3;
}

.City .gallery .img.landscape .image,
.City .gallery .img.full-landscape .image {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.City .gallery .img .caption {
  font-weight: 500;
  padding: 4px 0px;
  font-size: clamp(0.3rem, 0.4rem + 0.5vw, 0.8rem);
  display: block;
  grid-row: 2;
}

@media (max-width: 1000px) {
  .City .city-state {
    margin-top: -30px;
  }

  .City .city-caption {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .City header a {
    font-size: clamp(0.65rem, 0.5rem + 1vw, 1rem);
    /* margin-top: 4px; */
  }
  .City header {
    /* padding-top: 0px; */
    margin-bottom: 16px;
  }
  .City .city-state {
  font-size: clamp(0.8rem, 1rem + 2vw, 2rem);
}
}
